.box{
height:;
background-color:white;
position:relative;
}

.src{
height:;
display:flex;
align-items:center;
position:absolute;
left:10px;
}

ul{
display:inline-box;
:;

}

ul{
list-styleli:none;
}
